			.container {
				display: flex;
				flex-wrap: nowrap;
				width: 70%;
                height: 700px;
				opacity: .95;
				margin: auto;
				margin-top: 10px;
				background-color: #298e50;
				border: 2px dashed orange;
				overflow: auto;
				text-align: center;
			}

			.container > * {
				padding: 50px;
			}

			.links {
				flex-basis: max-content;
				background-color: #298e50;
				border-right: 2px dashed orange;
                padding-right: 20px;
                text-align: justify;
			}

			.links li {
				white-space: nowrap;
				word-wrap: normal;
			}

			.content {
				flex-basis: fill;
			}
body {
	color: #ecbb42;
	margin: 12px 0 0 0;
	font-size: 12pt;
	font-family: arial;
	background-attachment: fixed;
	background-image: url("Images/Graphics/AC/grass.png");
}
@font-face {
  font-family: FinkHeavy;
  src: url("Fonts/FinkHeavy.woff");
}
a {
  color: white;
}
a:visited { color: orange; }
	a:hover { background: url("https://66.media.tumblr.com/1a357580303d5383eef5d1e0b3ce690a/tumblr_inline_n0oj2hUmLd1s829k0.gif") repeat;}
    h1 {
    font-family: 'FinkHeavy',  sans-serif;
    font-size: 40pt;
    color: #7a471a;
    }
    
    h2 {
    font-family: 'FinkHeavy', sans-serif;
    font-size: 30pt;
    color: #7a471a;}