			.container {
				display: flex;
				flex-wrap: nowrap;
				width: 70%;
                height: 600px;
				opacity: 0.75;
				margin: auto;
				margin-top: 10px;
				background-color: black;
				border: 2px dashed hotpink;
				overflow: auto;
				text-align: center;
			}

			.container > * {
				padding: 50px;
			}

			.links {
				flex-basis: max-content;
				background-color: black;
				border-right: 2px dashed hotpink;
                padding-right: 20px;
                text-align: justify;
			}

			.links li {
				white-space: nowrap;
				word-wrap: normal;
			}

			.content {
				flex-basis: fill;
			}
body {
	color: hotpink;
	margin: 12px 0 0 0;
	font-size: 12pt;
	font-family: arial;
	background-attachment: fixed;
	background-image: url("https://66.media.tumblr.com/119c43645d43f0c9fffe9aa1802982a5/tumblr_inline_n0oj2f8WIF1s829k0.gif");
}
a {
  color: white;
}
a:visited { color: mediumvioletred; }
	a:hover { background: url("https://66.media.tumblr.com/1a357580303d5383eef5d1e0b3ce690a/tumblr_inline_n0oj2hUmLd1s829k0.gif") repeat;}
    h1 {
    font-family: 'Princess Sofia', cursive;
    font-size: 40pt;
    }
    
    h2 {
    font-family: 'Princess Sofia', cursive;
    font-size: 30pt;
    }