<div class="content"><img src="Images/MabelSitting.png" align="right" height="450" width="300" alt="Mabel Syrup sitting to the side, lookin' all sexy~... yea....">
<h1>Mabel Syrup da Pancake Witch</h1>
<h2><a href="home.html" alt="Link to main site - not accessible friendly yet">Enter Site</a></h2></h>
<br><sub>work in progress - best viewed on pc | not accessible & not mobile friendly yet because <i>im tired.......</i></sub>
<p>
    <br><a href="https://www.deviantart.com/blackwoodwitch" a;t="A link to my Deviantart"><img src="Images/IconDA.png" alt="Deviant Art Icon but in pink"></a><a href="https://www.furaffinity.net/user/pancakewitch/" alt="A link to my Fur Affinity"><img src="Images/IconFA.png" alt="Fur Affinity icon but in pink"></a><a href="https://www.instagram.com/thepancakewitch/" alt="A link to my Instagram account"><img src="Images/IconIG.png" alt="Instagram icon but in pink"></a><a href="https://twitter.com/thepancakewitch" alt="A link to my Twitter"><img src="Images/IconTwit.png" alt="Twitter icon but in pink"></a><a href="https://thepancakewitch.itch.io/" alt="A link to my Itch Io"><img src="Images/IconItch.png" alt="Itch Io icon but in pink"></a><a href="https://www.twitch.tv/thepancakewitch" alt="A link to my Twitch"><img src="Images/IconTwitch.png" alt="Twitch icon but pink"></a><a href="https://www.youtube.com/channel/UC8BQ6LFppRSvmwempZGE94Q" alt="A link to my Youtube channel"><img src="Images/IconYT.png" alt="YouTube icon but in pink"></a>
<br><script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#ff75b1', 'A1063NA7');kofiwidget2.draw();</script> 
</p>
</center>
</div>

<title>The Pancake Witch's House</title>
<style>
    .content {
    opacity: 0.75;
	width: 800px;
	height: 600px;
	margin: auto;
	margin-top: 50px;
	padding-left: 50px;
	background-color: #6b3b39;
	border: 2px solid #e1727a;
	overflow: auto;
}
body {
    color: white;
    font: 15px Arial;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #6b3b39;
    background-image: url("Images/SunsetBG.jpg"); }

    a:link {color: white; }
    a:visited { color: hotpink; }
	a:hover { background: url("https://66.media.tumblr.com/1a357580303d5383eef5d1e0b3ce690a/tumblr_inline_n0oj2hUmLd1s829k0.gif") repeat;}
    
  h1 {
    font-family: 'Princess Sofia', cursive;
    font-size: 40pt;
    }
    
    h2 {
    font-family: 'Princess Sofia', cursive;
    font-size: 30pt;
    }
</style>
<title>The Pancake Witch</title>
<link rel="icon" type="image/x-icon" href="Images/favicon.ico">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap" rel="stylesheet">
