<div class="content" align="center">
<br><img src="welcome.gif">
<h1>Welcome To Mabel Syrup's Artist Alley For New Year's Furry Ball 2021!!</h1>
<img src="blinki_happykwanzaa.gif"> <img src="blinkiehanukkah.gif"> <img src="santahohoblinkie.gif">
    <br>Hello and welcome!!! ^__^// C'mon and hang out in the <i>coolest</i> spot in the virtual alley!! <sub>Literally, because, there's no heating here and there's snowflakes everywhere, someone please come help.</sub>
<br>
<br>I've been attending NYFB for three years now!!! I'm so happy to finally be able to take part in it!!
<br>Thanks for being here and interested!! :D I'm so grateful! If you'd like to support me, feel free to share my commission page or <a href="https://ko-fi.com/pwitch">give me a Ko-Fi</a>.
<br>
<br><a href="https://docs.google.com/document/d/19U4aQjuhjAdBAxuY4p4JBhnZ_sxB6BJgL-gQgUoGQA8/edit?usp=sharing">Google Doc/More Complete Commission Form</a>
<br><img src="cmascandle.gif">
<p><h1>Terms of Service</h1></p>
<b>I am not going to draw anything I feel uncomfortable with executing or seeing in general.</b>
<br>Basic English is required to communicate with me so we can create a product you want!
<br>I will give you the utmost respect, so I demand the same. 
<br>I will not allow you to be my patron if you are transphobic/racist/xenophobic/homophobic/ableist; no nazis!
<br><b>Breaking these TOS will result in a block and refusal of further services.</b>
<p><h2>What I like to draw!!</h2>
<ul><li>Mythical Creatures</li>
<li>Any hooved animal</li>
<li>Chimera species</li>
<li>BIG LADIESZ</li>
<li>Pin ups</li></ul>
</p>
<p><h2>What I will NOT draw!!</h2>
<ul><li>War Glorification</li>
<li>Tobyfox's Works - out of respect for him</li>
<li>Ferals & Underage Characters in PG-13+ situations</li></ul>
</p>

<p><h1>Payment</h1></p>
<br>Paypal only at the moment.
<br>I will not take payment until I am halfway through. There are some works I definitely will need holding money on, ie more complicated paintings like acrylic painted badges or digital paintings.
<br>Anything under 10$ doesn’t need a hold.
<br>You will get an unwatermarked version, original .PSD file and invoice when I receive payment.
<br><i>Tips aren't required but are appreciated. :’3</i>
<p><h1>Contact</h1>
<b>Email is preferred!</b>
<br><a href="https://twitter.com/thepancakewitch">Twitter DM</a> - Telegram: @pancakewitch - email: coffincookies@gmail.com</p>
<p><img src="beaver.gif"></p>
<p><h1>Prices</h1>
<br>Prices vary due to complexity!
</p>
<p><h1>Paint Doodles - 2-10$</h1>
<br>made with love
<br><img src="https://pbs.twimg.com/media/EZHcNxBXsAMgezX?format=png&name=small" alt="Mabel as a bumble bee">
<br><img src="https://pbs.twimg.com/media/EVv1OFjWoAMiLkU?format=jpg&name=medium" alt="Orochimaru and his family go on a summer vacation">
<br><img src="https://pbs.twimg.com/media/EC8NUvYWkAQRluS?format=jpg&name=small" align="Tymoire worried over small creature"></p>

<p><h1>Sketches - 25-30$</h1>
<br>Cleaned up and colored!
<br><img src="https://64.media.tumblr.com/41d0754784ce4e5303277df8043cd233/7e9205317ad294bd-cf/s1280x1920/d0008f816dba0bf85ebe40589a791c2c091764fa.jpg" alt="Toki from Fist of the North Star">
<br><img src="https://pbs.twimg.com/media/Efj9u_pXkAAaQFY?format=jpg&name=large" alt="Dahlia">
<br><img src="https://pbs.twimg.com/media/EYjg4LAWAAAQAZJ?format=jpg&name=medium" alt="Pregnant Beatrice">
</p>

<p><h1>Character Ref Sheet - 60$+</h1>
Backgrounds can be landscapes, textures or whatever fits the aesthetique of your character!
<br>Anatomical studies/breakdowns of certain body parts or functions of body parts available. I have a lot of unconventional & chimera species so I do this a lot for my own fursonas and characters.
<br>Alternative poses, expressions or busts available too.
<br><img src="CanvasRefSmall.jpg" alt="Canvas the Demon Mouse Reference">
<br><img src="PamelaSmallSize.jpg" alt="Pamela the Lockjaw Alligator Reference">
<br><img src="CocoaReferenceSmaller.png" alt="Cocoa the Chi-whale-hua Reference">
</p>

<p><h1>Where else to find me</h1>
<br><a href="https://puddingpuddles.gitlab.io/mywebbie/"><img src="https://puddingpuddles.gitlab.io/mywebbie/Images/Graphics/IndexBanner.png"></a>
<br><a href="https://www.furaffinity.net/user/pancakewitch/">FurAffinity</a> - <a href="https://twitter.com/thepancakewitch">Twitter</a> - <a href="https://www.instagram.com/thepancakewitch/">Instagram</a> - <a href="https://toyhou.se/batphomet">Toyhou.se</a> - <a href="https://thepancakewitch.tumblr.com/">Tumblr</a> - <a href="https://www.pillowfort.social/thepancakewitch">Pillowfort - 18+!</a>
</p>
<p><h1>COOL TUNES FOR COOL WEATHER</h1></p>
<p><iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1171759108&color=%2364345c&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"></div>
    <p><script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#ff78ae', 'A1063NA7');kofiwidget2.draw();</script> </p>
<p>
    <br><img src="Createdwithgaypride.gif"> <img src="blessedbe.gif"><img src="ipouredmyheart.gif">
    <a href="https://www.w3schools.com/"><img src="https://www.w3schools.com/images/w3schools120x90.gif"></a><a href="https://gifcities.org/"><img src="https://gifcities.org/assets/spinning-internetarchive.gif"></a><a href="https://webaim.org/resources/contrastchecker/"><img src="https://cdn.dribbble.com/users/99938/screenshots/1814613/web_a11y.png" height="150" width="200"></a>
</p>
<p><a href="http://www.neopets.com/refer.phtml?username='tengutiger'"><img src="http://images.neopets.com/creatives/banner_sadnblue.gif" width="468" height="60" border=0></a> 
				</p>

</div>
<title>Mabel Syrup @ Da New Years Furry Ball 2021!!</title>
<style>
body {
    color: 	darkslateblue;
	margin: 12px 0 0 0;
	font-size: 12pt;
	font-family: 'Playfair Display', serif;
	background-attachment: fixed;
	background-image: url("bg1.jpg");
}
a {
  color: blueviolet;
}
a:visited { color: deeppink}
	a:hover { background: url("snowflake.gif") repeat;}
    
h1 {
font-family: "Leckerli One", cursive;
color: royalblue;
  text-align: center;
  font-size: 30px;}
    
.content
    {
  position: center; /* Position the background text */
  background: #fff; /* Fallback color */
  background: rgb(240,248,255, 0.5); /* Black background with 0.5 opacity */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */}
    
ul
    {list-style-type: none;}
</style>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">